body{
    margin: 0px;
    background-color: black;
    color: white;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, 
body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.j-between{
    justify-content: space-between;
}

.j-center{
    justify-content: center;
}

.a-center {
    align-items: center;
}